<%= raw(get_style Item.find(1)) %>
<% @style = Style.find(1) %>
<%= stylesheet_link_tag "carousel" %>
<% images = Photo.where(page_name: "carousel") %>
<% image_count = images.count %>
</head>
  <body background = "">
    <%= alert %>
    <%= notice %>
    <header>
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Links</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/messages/new">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Press Release 1</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Press Release 2</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <br>
    <main role="main">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <% i = 0 %>
          <% while i < image_count %>
          <% if i == 0 %>
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <% else %>
            <li data-target="#myCarousel" data-slide-to="<%= i %>" class=""></li>
          <% end %>
          <% i = i + 1 %>
          <% end %>
        </ol>
        <div class="carousel-inner">
          <% i = 0 %>
          <% while i < image_count %>
              <% myimage = images.find_by sequence: i %>
              <% if i == 0 %>
                <div class="carousel-item active mx-auto">
                  <img class="first-slide" src="<%= url_for(myimage.image) %>" alt="slide <%= i %>" style="float: left; min-width: 10%; min-height: 50%;" >
              <% else %>
                <div class="carousel-item mx-auto">
                  <img class="slide-<%= i %>" src="<%= url_for(myimage.image) %>" alt="slide <%= i %>" style="min-width: 10%; min-height: 50%; float: right;" >
              <% end %>
                  <div class="container">
                    <div class="carousel-caption text-right pc" style="text-shadow: -1px 1px #000000; font-size: 2.5vw;"><%= raw(myimage.caption) %></div>
                  </div>
                </div>
                <% i = i + 1 %>
          <% end %>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <%#
        Jumbotron for Video
      %>
      <div class="jumbotron">
        <div class="container center">
          <h1 class="display-3">"Who Is James K. Polk?"</h1><br>
          <% movie = Photo.find_by caption: "trailer" %>
          <p><video controls="" name="media"><source src="<%= url_for(movie.image) %>" type="video/mp4"></video>
          <p><a class="btn btn-primary btn-lg" href="<%= new_message_path %>" role="button">Learn more &raquo;</a></p>
        </div>
      </div>

      <%#
        Credits
      %>
      <div class="container">

        <!-- Three columns of text below the carousel -->
        <div class="row text-center" style="padding-top: 2rem;">
          <div class="col-lg-6" id="Kevin">
            <!-- <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140"> -->
            <h2 class="pc">Kevin J. Alcock, Author,</h2><br>
            <p class="pc"> has written numerous one acts that have been performed in the New York area. "WHO IS JAMES K. POLK?" is his first biographical play. Kevin is currently working on a full-length play about Theodore "Ted" Kaczynski, known to the world as the Unabomber. Kevin has worked in film, television and theater in every area from acting to production to catering.</p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-6" id="Neal">
            <!-- <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140"> -->
            <h2 class="pc">Neal Mayer,</h2><br>
            <p class="pc">who will portray Polk in this one-hour piece, has appeared on television in "Blue Bloods", "All My Children," "The Tonight Show with Jimmy Fallon," and "Late Night". In addition to appearing in the Broadway production of LES MISERABLES, Mayer has toured the country with PRISCILLA QUEEN OF THE DESERT, starred off-Broadway in MARK FELT, SUPERSTAR and Forbidden Broadway and acted at many of the premiere U.S. regional theaters including La Jolla Playhouse, Paper Mill Playhouse, Arena Stage, Ogunquit Playhouse, Goodspeed, and Bay Street Theater. He can be also be heard as St. Aphrodisius on the Studio Cast Recording of Alan Menken & Stephen Schwartz's THE HUNCHBACK OF NOTRE DAME. Neal is appearing courtesy of Actors' Equity Association.</p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-6" id="Anne">
            <!-- <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140"> -->
            <h2 class="pc">Anne Connolly, Director,</h2><br>
            <p class="pc">likes to think she has something in common with Polk in that she too toured throughout Tennessee long ago. However, Anne toured as an actor with the Chamber Theater Ensemble, not as a politician. Since then she has worked in theaters throughout the NY/ NJ area as director, actor and writer. Recently she directed Betsy Newberry's one-woman show "On Becoming a Marine," a finalist in NYC's 2017 Strawberry Festival. At the Aery Theater Company's 20/ 20 Festival up in Garrison, NY earlier this fall, Anne won Best Actress.</p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-6" id="Roxanne">
            <!-- <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140"> -->
            <h2 class="pc">Roxanne De Luna, Wig Designer and Builder,</h2><br>
            <p class="pc">has been the Ogunquit Playhouse Company, Wig Shop Supervisor for the 2017 & 2018 seasons. She is currently represented at the Ogunquit Playhouse as the Wig & Makeup Designer for ELF THE MUSICAL. Roxanne was born and raised in El Paso, Texas. She is a traveler to various locations creating art with wigs and makeup.</p>
          </div>
        </div><!-- /.row -->

<%#
          Features
%>

    <hr class="featurette-divider">
    <% items = Item.all %>
    <% carousel_count = items.count %>
    <% i = 0 %>
    <% while i < carousel_count %>
      <% item = items[i] %>
      <div class="row featurette">
        <div class="col-md-7">
          <div class="featurette-heading pc"><h2><%= raw(item.heading) %></h2>
          </div>
          <p class="lead pc"><%= raw(item.body) %></p>
        </div>
        <div class="col-md-5">
          <% myimage = Photo.find_by(page_name: "carousel_photo", sequence: i) %>
          <%= image_tag  myimage.image, :class =>"featurette-image img-fluid mx-auto" , :alt => myimage.caption %>
        </div>
      </div>
      <hr class="featurette-divider">
      <% i = i + 1 %>
    <% end %>
    <!-- /END THE FEATURETTES -->
  </div><!-- /.container -->
</main>