<%= raw(get_style Item.find(1)) %>
<% @style = Style.find(1) %>
<% @page_link = "/messages/new" %>
<% @images = Photo.where(page_name: "didyouknow") %>
<% @image_one = @images.find_by sequence: "1" %>
<% @image_two = @images.find_by sequence: "2" %>

<style>
.row {
  width: "75%";
}

a {
  color:<%= @style.alt_color %>;
  font-family: <%= @style.primary_font %>;
}

a:hover {
  text-decoration: none;
  color: <%= @style.secondary_color %>;
}
body {
	padding-left: 2rem; 
	padding-right: 2rem; 
	padding-bottom: 2rem; 
}

h1 {
	font-size: 72px;
	text-shadow: -3px 4px #000000;
}
h2 {
	font-size: 68px;
}

h3 {
	font-size: 32px;
	text-shadow: -1px 1px #FEFEFE;

} 
</style>
<style>
.gradient {
	
	background-image: url(<%= url_for(@image_one.image) %>);
	background-repeat: repeat;
	background-blend-mode: hard-light; 
	background-size: 61%; 
}
</style>
<%# stylesheet_link_tag "gradient" %>

</head>
  <body class="text-align" style="background: <%= @style.primary_color %>;" >
  	<p style="padding-top: 3rem;" id="notice" class="notice"><%= notice %></p>
  	<div class="container gradient">
      <div class="row text-center">
      	<div class="col-sm-12 sf ac" style="padding-top: 1rem; padding-bottom: 1rem;">
      		<h1 style="font-family: Lobster Two;">Did you Know?</h1>
      	</div>
      </div>
      <div class="row center">
      	<div class="col-sm-5 pf pc">
      		<h3 style="padding-left: 1rem; padding-top: 1rem; text-align: left;">Polk laid the cornerstone of the Washington Monument, choose the site of the Smithsonian Institute, started the Navel Acaademy in Annapolis and  created the modern postal system...and they were not even on his list of goals</h3>
      	</div>
      	<div class="col-sm-4" style="padding-bottom: 2rem; padding-right: 2rem;">
          <%= image_tag @image_two.image %>
        </div>
      	<div class="col-sm-3 m-auto" style="padding-top: 7rem; padding-bottom: 2rem;" >
          <%= link_to "More Information", @page_link, :class => "btn btn-lg btn-info" %>&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
      </div>
    </div>
    <% copyrt = "&copy;" %>
    <div class="row fixed-bottom navbar" style="width: 100%; padding-top: 1rem; padding-bottom: 0;">
      <div class="nav-link"><%= link_to "Back to Home", "/", :class=>"ac btn btn-small btn-outline-info"%></div>
      <div class="nav-link"><%= link_to "Contact", "/messages/new", :class=>"ac btn btn-small btn-outline-info"%></div>
      <div class="nav-link"><%= link_to raw(copyrt) +"2018 " + ENV['SITE_TITLE'], "https://adhoc.herokuapp.com"%></div>
    </div>
