<% @site_title = ENV['SITE_TITLE'] %>
<%= stylesheet_link_tag "cyborg" %>
<%= stylesheet_link_tag "carousel" %>
</head>
  <body background = "">
    <%= alert %>
    <%= notice %>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KQGLBH7"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">Menu</h4>
              <%= link_to "Home", "/" , :class =>"text-white"%><br>
              <%= link_to "Simple Application Pricing", "/static_pages" , :class =>"text-white"%><br>
              <%= link_to "Dynamic Applications and Information", "/tech_stack" , :class =>"text-white"%><br>
              <p class="text-muted">  </p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-white">Contact</h4>
              <ul class="list-unstyled">
                <li><a href="https://www.linkedin.com/in/damonhopkins" class="text-white">Linked-In</a></li>
                <li><a href="https://www.github.com/oxygen545" class="text-white">Github</a></li>
                <li><a href="#" class="text-white">Email me</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand d-flex align-items-center">
            <strong>Simple Web Apps and Information</strong>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">More &raquo;&nbsp;<span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>
    <main role="main">

      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="first-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="First slide">
            <div class="container">
              <div class="carousel-caption text-left">
                <h1>Basic Website Design</h1>
                <p>Maybe you need more pizazz than a few simple static landing page. On this page I just used a templates and edited the HTML, CSS and Static pages to suite my needs</p>
                <p><a class="btn btn-lg btn-primary" href="/static_pages" role="button">More Info</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="second-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Second slide">
            <div class="container">
              <div class="carousel-caption">
                <h1></h1>
                <p>If you need online storefront with interactivity and more thats no problem at all.</p>
                <p>A different layout, add a paging and subpaging system to allow for 3 layers of pages. connect it to google's services to store images anyalyze your websites KPI's and use an administrative back-end to manage the contents</p>
                <p><a class="btn btn-lg btn-primary" href="https://www.github.com/oxygen545/fmn-apothecary" role="button">Git Hub</a>&nbsp;<a class="btn btn-lg btn-secondary" href="https://fmn-apothecary.herokuapp.com" role="button">See a Storefront Live</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="third-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Third slide">
            <div class="container">
              <div class="carousel-caption text-right">
                <h1>Results matter</h1>
                <p>Landing pages, forms, mailing lists, custom built interfaces to other web services google, facebook, twitter, etc. I've been building full featured applications from front to back since the mid 90's</p>
                <p><a class="btn btn-lg btn-primary" href="/tech_stack" role="button">Past Projects</a></p>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>


      <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->

      <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-md-3">
            <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <h2>Design</h2>
            <p>With your own Webapp you have the ability to control the user experince from the ground up. You are not limited to one provider's platform and services, pick from a list of plug-ins and hope it gets what you need done. </p>
            <p><a class="btn btn-secondary" href="#Design" role="button">Design &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-md-3">
            <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <h2>Build</h2>
            <p>Once the design is far enough to proceed and a plan is put in place I begin the majority of my work building the site. and testing it to get it ready for deployment. Hosting costs and registration fees are all paid up and a test server is contructed as well as a temporary landing page to seperate the private, under-contruction, side of the project from the pulic facing side.</p>
            <p><a class="btn btn-secondary" href="#Build" role="button">Build &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-md-3">
            <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <h2>Deploy</h2>
            <p>When the website is ready for deployment it is uploaded to the application server and tested again to ensure that diffrences between the development, testign and production systems are all the same and the site functions as intended and expected. It doesn't end there..</p>
            <p><a class="btn btn-secondary" href="#Deploy" role="button">Deploy &raquo;</a></p>
          </div>
          <div class="col-md-3">
            <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <h2>Support</h2>
            <p>The work isnt over once the site is goes "live". I'll still be there the entire time to tweek your SEO settings and drive traffic to your site and into your sales or contact funnels. Understanding your users and how they interact with your site is very important. And then there's maintainance</p>
            <p><a class="btn btn-secondary" href="#Support" role="button">Support &raquo;</a></p>
          </div>
        </div>


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette" id="Design">
          <div class="col-md-7">
            <h2 class="featurette-heading">Design&nbsp;&nbsp;<span class="text-muted">more than just a look</span></h2>
            <p class="lead">This is not a website built from a template where you enter your specific information and the website is built on the fly by a bunch of automated functions. What I do is work with you on the site design and come up with a plan to build it. Each site is an application built from the ground up based on your design and budget. Your site data is housed in a private custom database, you can host your own discussion forums, have as many email lists as you need, surveys, or what ever else you desire.The possibilites are virtually unlimited.</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.min.js/500x500/auto" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette" id="Build">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Building The Site&nbsp;&nbsp;<span class="text-muted">the longest phase of the process.</span></h2>
            <p class="lead">After the design is far enough along the development phase begins to take shape as I create the basics of the wireframed functional site. Once this is completed and the site functions as expected the layout, color and other style attributes are put into place and everything is tested to ensure it fucntions as intended and expected. Usually the site is deployed where the portions of the site that are not quite ready for public access are located in a private area until ready for actual live production use.</p>
          </div>
          <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.min.js/500x500/auto" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette" id="Deploy">
          <div class="col-md-7">
            <h2 class="featurette-heading">Deployment&nbsp;<span class="text-muted">and Going "Live"</span></h2>
            <p class="lead">In deployment the website hostign server is prepared according to the needs of the site. the environment is configured for the expected traffic and proper credentials are put in place for the ability to use other cloud based services. The website is tested again to ensure that all functions are working as expected and the website renders correctly and when everything is done we celebrate the grand opening.</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.min.js/500x500/auto" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette" id="Support">
          <div class="col-md-7">
            <h2 class="featurette-heading">Support&nbsp;<span class="text-muted">and beyond</span></h2>
            <p class="lead">It doesnt end at the grand openening. There's still more to do. Over time the functions used to create and keep the website updated are changed and updated. I'll be here to implement those changes, make changes to your pages main text as necessary and when you want the same fucntionality but a different layout or a different color scheme I'm here to do that as well. I'm here for your questions via email as well as by phone. Want a new feature or chage made. Thats what I'm here for</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.min.js/500x500/auto" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

      </div>

        <!-- /.container -->
          <footer class="fixed-bottom text-white">
          <div class="container">
            <p class="float-left"><%= @site_title %> &copy; 2018</p>
          </div>
        </footer>
</main>
