<% images = get_images 'cover'   %>
<% image = images.find_by sequence: '1' %>
<%= stylesheet_link_tag "application" %>
<% if image != nil %>
  <style>
    body {
      background: url('<%= url_for(image.image)%>') no-repeat center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: 100% x 100%;
    }
  </style>
<% end %>
</head>
  <body class="text-center" >
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column" >
      <h1 class="cover-heading" align="left">Welcome to</h1>
      <h3 align="left"><%= ENV['SITE_TITLE'] %></h3>
    </div>
    <main role="main" class="inner cover m-auto" >
      <div align="center">
        <h5 class="lead">..Enjoy my Portfolio..</h5>
        <button class="btn btn-outline-primary focus"><%= link_to "Enjoy", "/items" %></button>
        <% if user_signed_in? %>
          <button class="btn btn-outline-secondary ml-2"><a href="/users" >User Pages</a></button>
        <% end %>
        <% if admin_user_signed_in? %>
          <button class="btn btn-outline-secondary ml-2"><a href="/admin">Admin Pages</a></button>
        <% end %>
      </div>
    </main>
    <div class="bd-highlight fixed-bottom" align="right"><%= ENV['SITE_TITLE'] %> &copy; 2018</div>
