<%= raw(get_style Item.find(1)) %>
<% @style = Style.find(1) %>
<% @page_link = "/visitors/didyou" %>
<% @images = Photo.where(page_name: "slavery") %>

<style>
.row {
  width: "75%";
}

a {
  color:<%= @style.alt_color %>;
  font-family: <%= @style.primary_font %>;
}

a:hover {
  text-decoration: none;
  color: <%= @style.secondary_color %>;
}
body {
	padding-left: 2rem; 
	padding-right: 2rem; 
	padding-bottom: 2rem; 
}

h1 {
	font-size: 72px;
	text-shadow: -3px 4px #000000;
}
h2 {
	font-size: 68px;
}

h3 {
	font-size: 32px;
	text-shadow: -1px 1px #FEFEFE;

} 
</style>
<style>
.gradient {
	background-repeat: repeat;
	background-blend-mode: hard-light; 
	background-size: 61%; 
}
</style>
<%# stylesheet_link_tag "gradient" %>

</head>
  <body class="text-align" style="background: <%= @style.primary_color %>;" >
  	<p style="padding-top: 3rem;" id="notice" class="notice"><%= notice %></p>
  	<div class="container gradient">
      <div class="row text-center">
      	<div class="col-sm-8 pf ac" style="padding-top: 1rem; padding-bottom: 1rem;">
      		<h1>Slave Politics</h1>
      	</div>
      </div>
      <div class="row center">
      	<div class="col-sm-8 pf ac">
      		<p style="padding-left: 1rem; padding-top: 1rem; text-align: left;">Polk's political actions on slavery varied depending on which elected position he held. As a US Congressman representing a slave-holding constituency, he voted for every pro-slavery measure brought before Congress. As Speaker of the US House, however, his main goal was to keep the business of government moving forward. He thought that the increasingly high numbers of pro and anti-slave memorials coming before congress hindered good government and threatened the country's stability. To stifle both sides, Polk invoked the "gag" rule" that prevented and legislation regarding slavery from being brought to the floor for discussion. As Governor of Tennessee when the state was divided over the issue (East Tennessee was strongly anti-slavery), Polk's views once again reflected that split, and his course on slavery was fairly moderate. As President of the United States when the country was struggling with the implications of the "peculiar institution," Pols once again tried to keep slavery from becoming an issue, fearing that it could tar the country apart.</p>
      	</div>
      	<div class="col-sm-2 m-auto" style="padding-top: 7rem; padding-bottom: 2rem;" >
          <%= link_to "More Information", @page_link, :class => "btn btn-lg btn-info" %>&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
      </div>
      <% @myimage = Photo.where(page_name: "slavery", sequence: 1) %>
      <div class="row d-grid"><%= image_tag @myimage.take.image, :style=>"width: 100%; height: 100%; padding-bottom: 2rem; padding-top: 2rem;" %></div>      
      <div class="row d-grid" style="background: #e3b675; height: 2rem; width: 103%;">&nbsp;</div>
      <div class="row d-grid" style="height: 2rem;">&nbsp;</div>
      <div class="row d-grid" style="background: #a95161; height: 2rem; width: 103%;">&nbsp;</div>
    </div>
    <% copyrt = "&copy;" %>
    <div class="row fixed-bottom navbar" style="width: 100%; padding-top: 1rem; padding-bottom: 0;">
      <div class="nav-link"><%= link_to "Back to Home", "/", :class=>"ac btn btn-small btn-outline-info"%></div>
      <div class="nav-link"><%= link_to "Contact", "/messages/new", :class=>"ac btn btn-small btn-outline-info"%></div>
      <div class="nav-link"><%= link_to raw(copyrt) +"2018 " + ENV['SITE_TITLE'], "https://adhoc.herokuapp.com"%></div>
    </div>
