    <%= stylesheet_link_tag "shared/lux" %>
    <%= stylesheet_link_tag "shared/technologies" %>
  </head>

  <body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KQGLBH7"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">Menu</h4>
              <%= link_to "Home", "/" , :class =>"text-white"%><br>
              <%= link_to "Examples", "/examples" , :class =>"text-white"%><br>
              <%= link_to "Features and Options", "/technologies" , :class =>"text-white"%><br>
              <%= link_to "Home", "/" , :class =>"text-white"%><br>
              <%= link_to "Home", "/" , :class =>"text-white"%><br>
              <p class="text-muted">  </p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-white">Contact</h4>
              <ul class="list-unstyled">
                <li><a href="#" class="text-white">Follow on Twitter</a></li>
                <li><a href="#" class="text-white">Like on Facebook</a></li>
                <li><a href="#" class="text-white">Email me</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand d-flex align-items-center">
            <strong>Adhoc Technologies</strong>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>

    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Technologies</h1>
          <p class="lead text-muted">There are three parts of a web application or a website. The front, middle, and back-ends. Below are examples of what I used to build this website.</p>
          <p>
            <a href="https://damonhopkins.herokuapp.com" class="btn btn-primary my-1">My Portfolio</a>&nbsp;
            <a href="/contact" class="btn btn-secondary my-1">Contact Me</a>
          </p>
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">The Front-End. Is where the website gets displayed and the framework is how it gets done. This webapp is an example Bootstrap 4, of one of the many front-end framework options available. I've included a page of the most popular frameworks or just go with good ole Bootstrap 4</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group mx-auto">
                      <a href="https://getbootstrap.com/"><button type="button" class="btn btn-sm btn-outline-secondary">Bootstrap</button></a>&nbsp;
                      <a href="/frontend"><button type="button" class="btn btn-sm btn-outline-primary">More Front-Ends</button></a>
                    </div>
                    <!--<small class="text-muted">9 mins</small>-->
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">The Middleware. Sometimes the middle layer is attached to the front-end framework and sometimes it is dictated to the back-end system. Its the filler to brige the gap between the customer-facing system and the back end work. I'm using Ruby on Rails as my middleware and back-end frameworks.. The language it's developed in is Ruby and the framework is called Rails</p>
                  <div class="d-flex justify-content-between align-items-center">
                     <div class="btn-group mx-auto">
                     <a href="https://rubyonrails.org/"><button type="button" class="btn btn-sm btn-outline-secondary">Ruby on Rails</button></a>&nbsp;
                      <a href="/middleware"><button type="button" class="btn btn-sm btn-outline-primary">More Middleware</button></a>
                    </div>
                    <!--<small class="text-muted">9 mins</small>-->
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">The back-end is where all the magic happens. Where images are attached to pages, data goes into and out of the database, connections to other services are managed and utilized as well as other code and functionality to make it all happen. Ruby on Rails is used here but there are, of course, others.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group mx-auto">
                      <button type="button" class="btn btn-sm btn-outline-primary my-2">More Backend</button>
                    </div>
                    <!--<small class="text-muted">9 mins</small>-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </main>

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
        <p>New to Bootstrap? <a href="../../">Visit the homepage</a> or read our <a href="../../getting-started/">getting started guide</a>.</p>
      </div>
    </footer>
  </body>
