<%= stylesheet_link_tag "cyborg" %>
<% if @user == nil %>
	<% controller.redirect_to new_user_session_path %>
<% end %>
	<p>Logged in as 
<% if user_signed_in? %>
	<% if admin_user_signed_in? %>
		admin: <%=@user.email %> <%= link_to "Admin Dashboard", "/admin/", :class => "text-white" %>
	<% else %>
 		user:<%=@user.email %>
 	<% end %>
<% end %>
</p>

</head>
<body>
<header>
	<div class="header row" >
		<div class="col-lg-12 mx-auto">
			<h1>Exclusive Members Only's Area</h1>
</header>

<main>
	<% if admin_user_signed_in? %>
		<div class="row">
			<div class="col-lg-10" >
				<%= image_tag "https://8ch.net/static/logo_33.svg", :width =>"200px" %>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-10" >
				<%= link_to "Check out 8Chan if you get bored", "https://www.8ch.net" %>
				<%# image_tag "https://sys.8ch.net/banners.php?b=" + board_num %>
			</div>
		</div>
	<% else %>
		<div class="row">
			<div class="col-lg-10" >
				User Dashboard Here
			</div>
		</div>
	<% end %>
</main>