<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @page.user %>
</p>

<p>
  <strong>Link:</strong>
  <%= @page.link %>
</p>

<p>
  <strong>Title:</strong>
  <%= @page.title %>
</p>

<p>
  <strong>Subtitle:</strong>
  <%= @page.subtitle %>
</p>

<p>
  <strong>Heading:</strong>
  <%= @page.heading %>
</p>

<p>
  <strong>Subheading:</strong>
  <%= @page.subheading %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @page.weight %>
</p>

<p>
  <strong>Body:</strong>
  <%= @page.body %>
</p>

<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
