</head>
<body>
  <p id="notice"><%= notice %></p>
  <div class="cover-container">
    <div class="nav nav-bar">
      <h1>Styles</h1>
    </div>
    <% @styles.each do |style| %>
      <style type="text/css">
        .pf_<%= style.id %> {
        font-family :<%= style.primary_font %>; 
        }
        .sf_<%= style.id %> {
        font-family :<%= style.secondary_font %>; 
        }
        .af_<%= style.id %> {
        font-family :<%= style.alt_font %>; 
        }
        .pc_<%= style.id %> {
        color: <%= style.primary_color %>;
        }
        .sc_<%= style.id %> {
        color: <%= style.secondary_color %>;
        }
        .ac_<%= style.id %> {
        color: <%= style.alt_color %>;
        }
        .bg_<%= style.id %> {
        background-color: <%= style.alt_color %>;
        }
      </style>
      <div class="card">
        <div class="card-body">
          <div class="card-title bg_<%= style.id %>">
            <p class="pf_<%= style.id %> pc_<%= style.id %>"><%= style.stylename %></p>
            <p class="sf_<%= style.id %> pc_<%= style.id %>"><%= style.description %></p>
          </div>
          <div class="card-text">
            <ul>
              <li class="pf_<%= style.id %> pc_<%= style.id %>"><%= style.primary_font %></li>
              <li class="sf_<%= style.id %> pc_<%= style.id %>"><%= style.secondary_font %></li>
              <li class="af_<%= style.id %> pc_<%= style.id %>"><%= style.alt_font %></li>
              <li class="pf_<%= style.id %> pc_<%= style.id %>"><%= style.primary_color %></li>
              <li class="sf_<%= style.id %> sc_<%= style.id %>"><%= style.secondary_color %></li>
              <li class="af_<%= style.id %> ac_<%= style.id %>"><%= style.alt_color %></li>
              <li><%= link_to 'Show', style %></li>
              <li><%= link_to 'Edit', edit_style_path(style) %></li>
              <li><%= link_to 'Destroy', style, method: :delete, data: { confirm: 'Are you sure?' } %></li>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= link_to 'New Style', new_style_path %>
