
<style type="text/css">
  .pf {
   font-family :<%= @style.primary_font %>; 
  }
  .sf {
   font-family :<%= @style.secondary_font %>; 
  }
  .af {
   font-family :<%= @style.alt_font %>; 
  }
  .pc {
   color: <%= @style.primary_color %>;
  }
  .sc {
   color: <%= @style.secondary_color %>;
  }
  .ac {
   color: <%= @style.alt_color %>;
  }
  .bg {
   background-color: <%= @style.alt_color %>;
  }

</style>
</head>
<body>
<p id="notice"><%= notice %></p>
<div class="container flex-container">
  <div class="card flex-card">
    <div class="card-body">
      <div class="card-title bg">
        <h2 class="pf pc"><%= @style.stylename %></h2>
        <h5 class="sf pc"><%= @style.description %></h5>
      </div>
      <div class="card-text">
        <p class="pf pc">pf:<%= @style.primary_font %> pc:<%= @style.primary_color %></p>
        <p class="sf sc">sf:<%= @style.secondary_font %> sc:<%= @style.secondary_color %></p>
        <p class="af ac">af:<%= @style.alt_font %> ac:<%= @style.alt_color %></p>
      </p>
    </div>
  </div>
</div>
<div class="nav nav-bar">
<%= link_to 'Edit', edit_style_path(@style), :class =>"nav-link" %> |
<%= link_to 'Back', styles_path, :class =>"nav-link" %>
</div>