<p id="notice"><%= notice %></p>

<p>
  <strong>Link:</strong>
  <%= @home.link %>
</p>

<p>
  <strong>Title:</strong>
  <%= @home.title %>
</p>

<p>
  <strong>Subtitle:</strong>
  <%= @home.subtitle %>
</p>

<p>
  <strong>Heading:</strong>
  <%= @home.heading %>
</p>

<p>
  <strong>Subheading:</strong>
  <%= @home.subheading %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @home.weight %>
</p>

<p>
  <strong>Body:</strong>
  <%= @home.body %>
</p>

<%= link_to 'Edit', edit_home_path(@home) %> |
<%= link_to 'Back', homes_path %>
