<%= form_with(model: item, local: true) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :heading %>
    <%= form.text_field :heading %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div class="field">
    <%= form.label :style_id %>

  <% styles_array = Style.all.map { |style| [style.stylename, style.id] } %>
  <%= select_tag "item_style_id", options_for_select(styles_array), :name => "item[style_id]" %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <% users_array = User.all.map { |user| [user.username, user.id] } %>
    <%= select_tag "item_user_id", options_for_select(users_array), :name => "item[user_id]" %>
  </div>

  <div class="field">
    <%= form.label :photo_id %>
   <% photos_array = Photo.all.map { |photo| [photo.caption, photo.id] } %>
    <%= select_tag "item_photo_id", options_for_select(photos_array), :name => "item[photo_id]" %>
   </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
