
<%= form_with(model: item, local: true) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :heading %>
    <%= form.text_field :heading %>
  </div>

  <div class="field">
    <%= form.text_area :body , :size => "40x10"%>
  </div>

  <div class="field">
    <%= form.label :style_id %>
  <select name="item[style_id]" id="item_style_id">
  <% Style.find_each do |style| %>
    <% if item.style_id == style.id %>
      <option value="<%= style.id %>" selected="selected"><%= style.stylename %></option>
    <% else %>
        <option value="<%= style.id %>" ><%= style.stylename %></option>
    <% end %>
  <% end %>
  </select>
    <%= link_to "New Style", new_style_path, :class => "btn btn-sm btn-outline-info" %>
  <% if item.style_id != nil %>
    <%= link_to "Edit Style", edit_admin_style_path(item.style_id), :class => "btn btn-sm btn-outline-warning" %>
  <% end %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
  <select name="item[user_id]" id="item_user_id">
  <% User.find_each do |user| %>
    <% if item.user_id == user.id %>
      <option value="<%= user.id %>" selected="selected"><%= user.username %></option>
    <% else %>
        <option value="<%= user.id %>" ><%= user.username %></option>
    <% end %>
  <% end %>
  </select>
  </div>

  <div class="field">
    <%= form.label :photo_id %>
  <select name="item[photo_id]" id="item_photo_id">
  <% Photo.find_each do |photo| %>
    <% if item.photo_id == photo.id %>
      <option value="<%= photo.id %>" selected="selected"><%= photo.caption %></option>
    <% else %>
        <option value="<%= photo.id %>" ><%= photo.caption %></option>
    <% end %>
  <% end %>
  </select>
  <%= link_to "New Photo", new_photo_path, :class => "btn btn-sm btn-outline-info" %>
  <% if item.photo_id != nil %>
  <%= link_to "Edit Photo", edit_photo_path(item.photo_id), :class => "btn btn-sm btn-outline-warning" %>
  <% end %>
   </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
