<%= raw(get_style Item.take) %>
</head>
<body>
<p id="notice"><%= notice %></p>
<div class="container flex-container" align="center">
  <% i = 0 %>
<% @items.each do |item| %>
    <% i=i+1 %>
    <% if item.style_id != nil %>
      <% @style = Style.find(item.style_id) %>
      <style type="text/css">
      .pf_<%= i %> {
       font-family :<%= @style.primary_font %>; 
      }
      .sf_<%= i %> {
       font-family :<%= @style.secondary_font %>; 
      }
      .af_<%= i %> {
       font-family :<%= @style.alt_font %>; 
      }
      .pc_<%= i %> {
       color: <%= @style.primary_color %>;
      }
      .sc_<%= i %> {
       color: <%= @style.secondary_color %>;
      }
      .ac_<%= i %> {
       color: <%= @style.alt_color %>;
      }
      <% if item.photo_id != nil %>
        .bgimg_<%= i %> {
        background-image: url('<%= url_for(Photo.find(item.photo_id).image) %>');
        background-repeat: no-repeat;
        background-size: 100%;
        }
      <% end %>
        .bg_<%= i %> {
        background: <%= @style.alt_color %>;
        }
      </style>
    <% end %>
  <div class="card m-auto h-100 bgimg_<%= i %>" style="width: 90%; padding-top:3rem; padding-bottom: 4rem;">
    <div class="card-body bgmed" style="width:90%;" >
      <div class="card-title pf_<%= i %> pc_<%= i %>"><h5><%= raw(item.title) %></h5></div>
      <div class="card-subtitle pc_<%= i %> sf_<%= i %>" >
        <h6 class="pf_<%= i %> pc_<%= i %>"><%= raw(item.heading) %></h6> created by: <h6><%= User.find(item.user_id).username %></h6>
      </div>
      <div class="card-text pf_<%= i %> pc_<%= i %>" style="width:50%;"><%= raw(item.body) %><%= link_to "...more", item %><br><br>
      </div>
      <div class="card-footer bgclear af_<%= i %> pc_<%= i %>" style="width:50%; padding-top: 1rem;">
        <%= link_to 'Show', item , :class =>"bgdark btn btn-sm btn-outline-success" %>
        <% if user_signed_in? %>
          <%= link_to 'Edit', edit_item_path(item), :class =>"bgdark btn btn-sm btn-outline-warning"  %>
          <%= link_to 'Delete', item, :class =>"btn bgdark btn-sm btn-outline-danger" ,method: :delete, data: { confirm: '  Are you sure?' } %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
</div>
<% if user_signed_in? %>
<div class="fixed-bottom bgmed center" style="width: 100%; padding-top: 1rem; padding-bottom: 0;">
  <% copyrt = "&copy;" %>
  <p style="text-align: center;">
    <%= link_to 'New Photo', new_photo_path , :class=>"btn bgdark btn-sm btn-outline-info"%>
    <%= link_to 'New Style', new_admin_style_path , :class=>"btn bgdark btn-sm btn-outline-info"%>
    <%= link_to 'New Item', new_item_path , :class=>"btn bgdark btn-sm btn-outline-info"%>
    <%= link_to raw(copyrt) +"2018 "+ENV['SITE_TITLE'], "/" , :class=>"btn bgdark btn-sm btn-outline-success"%></p>
</div>
<% end %>

