<%= raw(@mystyle) %>
</head>
  <body class="text-center bgcover">
    <p id="notice"><%= notice %></p>
    <main role="main" class="cover-container d-flex h-100 p-3 m-auto flex-column" >
      <div class="cover-container inner cover center">
        <div class="card bglight" style="width: 80%;">
          <h3 class="card-title pf pc mt-5 mb-3" align="center">
            <%= @item.title %> <smaller>by </smaller>
          </h3>
          <h1 class="sc"><%= User.find(@item.user_id).username %></h1>
          <div class="card-body">
            <h1 class="sf sc card-subtitle mt-5"><%= @item.heading %></h1>
          </div>
          <div class="af pc card-text mx-5 my-5"><%= raw(@item.body) %></div>
        </div>
      </div>
    </main>
<div class="bd-hightlight fixed-bottom">
  <% if user_signed_in? %>
  <%= link_to 'Edit', edit_item_path(@item), :class => "btn btn-info btn-sm m-2" %>
  <% end %>
  <%= link_to 'Back', items_path, :class => "btn btn-info btn-sm m-2" %> <%= link_to ENV['SITE_TITLE'], "/" %> &copy; 2018
</div>



