<% 
  if user_signed_in?
%>
<p id="notice"><%= notice %></p>

<p>
  <strong>Page name:</strong>
  <%= @photo.page_name %>
</p>
<p>
  <%= image_tag @photo.image %>
</p>

<p>
  <strong>Caption:</strong>
  <%= @photo.caption %>
</p>

<p>
  <strong>Sequence:</strong>
  <%= @photo.sequence %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %> | 
<%= button_to('Delete', photo_path, method: "delete", remote: true, data: { confirm: 'Are you sure?', disable_with: 'loading...' }) %>
<%
else 
	controller.redirect_to "/users/sign_in"

end 
%>