<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
<% if @page == nil && @subpage == nil && @article == nil %>
<%# this indicates we are coming from the unimplemented homes controller probably the home page or a link to the home page%>
<% @nav_toggle_text = "More Info -> " %>
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white"><%= link_to "Home", pages_path, :class =>"text-white" %></h4>
          <p class="text-muted"><%= @site_title %></p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h5 class="text-white">Links</h5>
          <ul class="list-unstyled">
            <% Page.find_each do |p| %>
              <li><h6><%= link_to p.link, page_path(p), :class =>"text-white" %></h6></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark box-shadow">
    <div class="container d-flex justify-content-between">
      <a href="/" class="navbar-brand d-flex align-items-center">
        <strong></strong>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation"><%= @nav_toggle_text %><span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
<% elsif @page != nil %>
<%# we are coming from the page controller and have a page in @page %>
<% @nav_toggle_text ="Contents -> " %>
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white"><%= link_to "Home", "/", :class =>"text-white" %></h4>
          <p class="text-muted"><%= @site_title %></p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h5 class="text-white">Links</h5>
          <ul class="list-unstyled">
            <% Subpage.where(page_id: @page.id).find_each do |sp| %>
              <li><h6><%= link_to sp.link,page_subpage_path(@page,sp), :class =>"text-white" %></h6></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark box-shadow">
    <div class="container d-flex justify-content-between">
      <a href="/" class="navbar-brand d-flex align-items-center">
        <strong></strong>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation"><%= @nav_toggle_text %><span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
<% elsif @subpage != nil %>
<%# we are coming from the subpage controller and have a subpage in @subpage %>
<% @nav_toggle_text ="Articles -> " %>
        <% page = Page.find_by id: @subpage.page_id %>
        <div class="col-sm-8 col-md-7 py-4">
          <h4><%= link_to "Home", "/", :class=>"text-white" %></h4>
          <p class="text-muted"><%= @site_title %></p>
          <h5><%= link_to page.link, page_path(page.id), :class=>"text-white" %></h5>
          <p class="text-muted"><%= page.content %></p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h5 class="text-white">Links</h5>
          <ul class="list-unstyled">
            <% Article.where(subpage_id: @subpage.id).find_each do |a| %>
              <li><h6><%= link_to a.link, page_subpage_article_path(page,@subpage,a), :class =>"text-white" %></h6></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark box-shadow">
    <div class="container d-flex justify-content-between">
      <a href="/pages/<%= page.id %>" class="navbar-brand d-flex align-items-center">
        <strong></strong>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <%= @nav_toggle_text %><span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
<% elsif @article != nil %>
<%# we are coming from the article controller and have a article in @article %>
<% @nav_toggle_text ="Related -> " %>
        <% subpage = Subpage.find_by id: @article.subpage_id %>
        <% page = Page.find_by id: subpage.page_id %>
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white"><%= link_to "Home", pages_path, :class =>"text-white" %></h4>
          <p class="text-muted"><%= @site_title %></p>
          <h4 class="text-white"><%= link_to page.link, page_path(page), :class =>"text-white" %></h4>
          <p class="text-muted"><%= page.heading %></p>          <h5 class="text-white"><%= link_to subpage.link, page_subpage_path(page.id,subpage.id), :class =>"text-white" %></h5>
          <p class="text-muted"><%= subpage.heading %></p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h6 class="text-white">Related:</h6>
          <ul class="list-unstyled">
            <% Article.where(subpage_id: @article.subpage_id).find_each do |a| %>
              <li><h7><%= link_to a.link, page_subpage_article_path(page.id,subpage.id,a.id), :class =>"text-white" %></h7></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark box-shadow">
    <div class="container d-flex justify-content-between">
      <a href="/pages/<%= page.id %>" class="navbar-brand d-flex align-items-center">
        <strong></strong>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <%= @nav_toggle_text %><span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
  <% else %>
    <%# we are coming from somewhere unknown and shouldnt be here %>
    <% @nav_toggle_text ="WTF -> " %>
<% end %>
