<p id="notice"><%= notice %></p>

<h1>Subpages</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Page</th>
      <th>Link</th>
      <th>Title</th>
      <th>Subtitle</th>
      <th>Heading</th>
      <th>Subheading</th>
      <th>Weight</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subpages.each do |subpage| %>
      <tr>
        <td><%= subpage.user %></td>
        <td><%= subpage.page %></td>
        <td><%= subpage.link %></td>
        <td><%= subpage.title %></td>
        <td><%= subpage.subtitle %></td>
        <td><%= subpage.heading %></td>
        <td><%= subpage.subheading %></td>
        <td><%= subpage.weight %></td>
        <td><%= subpage.body %></td>
        <td><%= link_to 'Show', subpage %></td>
        <td><%= link_to 'Edit', edit_subpage_path(subpage) %></td>
        <td><%= link_to 'Destroy', subpage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subpage', new_subpage_path %>
