<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @subpage.user %>
</p>

<p>
  <strong>Page:</strong>
  <%= @subpage.page %>
</p>

<p>
  <strong>Link:</strong>
  <%= @subpage.link %>
</p>

<p>
  <strong>Title:</strong>
  <%= @subpage.title %>
</p>

<p>
  <strong>Subtitle:</strong>
  <%= @subpage.subtitle %>
</p>

<p>
  <strong>Heading:</strong>
  <%= @subpage.heading %>
</p>

<p>
  <strong>Subheading:</strong>
  <%= @subpage.subheading %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @subpage.weight %>
</p>

<p>
  <strong>Body:</strong>
  <%= @subpage.body %>
</p>

<%= link_to 'Edit', edit_subpage_path(@subpage) %> |
<%= link_to 'Back', subpages_path %>
