
<%#*************************************************************************%>

<!DOCTYPE html>
<html lang=en>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title><%= @site_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


<% @site_title = ENV["SITE_TITLE"] %>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

<%= yield %>
</body>
</html>
